/packages
/notepad-plus-plus
/npp-languages/npp-languages.user
/Unicode Debug
/Unicode Release
/x64
/npp-languages/Unicode Debug
/npp-languages/Unicode Release
/npp-languages/x64
/.vs
/npp-languages.VC.db
/npp-languages.VC.VC.opendb
